{% extends "layout.html" %} {% block content %}

<!-- <h1>Top Citites</h1> -->

<section class="bg-color">
  <div class="container">
    <div class="row">
      <div class="col-sm py-4">
        <h1 class="text-center p-5 carousel-headind-decoration">
          Find a Job Near You Today
        </h1>
        <div class="owl-carousel">
          {% for post in posts %}
          <div>
            <div class="item">
              <div>
                <img class="img-fluid" src="{{ post.thumbnail }}" />
              </div>
              <div class="text-center industry-text">
                <h4 class="carousel-text-decoration p-2">{{ post.title }}</h4>
              </div>
            </div>
            <div class="text-center p-4">
              <a href="{{ post.slug }}.html" class="btn btn-primary btn-text w-75 py-2">
                Click Here
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
