<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SEO Traffic Generator</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/picnic@6.5.0/picnic.min.css"
    />
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <style>
      .container {
        width: 80%;
        margin: auto;
        margin-top: 3em;
      }
    </style>
  </head>
  <body class="container">
    {% block content %} {% endblock %}

    <div id="wrapper">
      <canvas id="myChart">
        <!-- your chart will be generated here! -->
      </canvas>
    </div>

    <hr />
    <center>
      <div id="tableSection"></div>
    </center>
    <br />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    
    <!-- <script src="../js/test.js"></script> -->
  </body>
</html>
