{% extends "layout.html" %} {% block content %}

<div style="padding: 30px">
  <h1>{{post.title}}</h1>
  <header>
    <img src="{{ post.thumbnail }}" />
  </header>
  <p>
    <small>{{post.date}}</small>
    {{post.content}}
  </p>

  <div id="wrapper">
    <canvas id="myChart">
      <!-- your chart will be generated here! -->
    </canvas>
  </div>

  <hr />
  <!-- <center>
    <div id="tableSection"></div>
  </center>
  <br /> -->

  <center>
    {{ urls.html_table }}
  </center>

  <script src="js/{{ urls.js_name }}.js"></script>
</div>
{% endblock %}
