*,
html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#wrapper {
  width: 90%;
  margin: 2em auto 0 auto;
}


table {
  border-collapse: collapse;
  border: 2px black solid;
  font: 12px sans-serif;
}

td {
  border: 1px black solid;
  padding: 5px;
}