/* colors */
:root {
  --header-bg-color: #f3f6f9;
  --header-font-color: #26336a;
  --header-font-hover-color: #0086ff;
  --First-carousel-bg-color: #f5f2f3;
  --carousel-heading-color: #26336a;
  --carousel-text--color: #060505;
  --about-amazobs-bg-color: #f5f3f5;
  --about-text-color: #060505;
}
body {
  font-family: "Poppins", sans-serif;
}

.bg-color {
  background-color: var(--header-bg-color);
}
.industry-text {
  background-color: white;
}
.nav-link {
  padding: 0.5rem 2rem !important;
}
.header-text-decoration {
  color: var(--header-font-color) !important;
  font-size: 18px;
  font-weight: 400;
}
.header-text-decoration:hover {
  color: var(--header-font-hover-color) !important;
  text-decoration: underline;
}
#sign-up.btn {
  border-radius: 0 !important;
}
.SearchBox {
  top: 0.3rem;
  right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SearchBtn {
  width: 3rem;
  height: 3rem;
  background-color: var(--header-bg-color);
  color: #fff;
  right: 2.8rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.SearchText {
  width: 0rem;
  border-radius: 4rem;
  border: none;
  outline: none;
}
.SearchText:focus {
  outline: none;
}
.SearchBox:hover > .SearchText {
  width: 15rem;
  padding: 0.7rem;
}
#h.end-0 {
  right: 15% !important;
}
.c-f-bg-color {
  background-color: var(--First-carousel-bg-color);
}
.carousel-headind-decoration {
  color: var(--carousel-heading-color);
  font-weight: bolder;
  font-size: 30px;
}
.carousel-text-decoration {
  color: var(--carousel-text--color);
  font-size: 20px;
  font-weight: 700;
}
.last-s-bg-color {
  background-color: var(--about-amazobs-bg-color);
}
.btn-text {
  font-family: "HK Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffff;
  text-decoration: none;
  /* pointer-events: none; */
}
.about-text {
  font-size: 14px;
  color: var(--about-text-color);
  font-weight: bold;
}
.pr {
  padding: 0;
}

.btn1 {
  position: absolute;
  top: 25%;
}

.prev-slide {
  left: -3rem;
}
.next-slide {
  right: -3rem;
}
@media (max-width: 600px) {
  .prev-slide {
    left: -0.5rem;
  }
  .next-slide {
    right: -0.5rem;
  }
}
.item:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}


/* table customs style */
th, td {
  padding: 10px;
  text-align: left;
}

table, th, td {
  border: 1px solid black;
}

td {
  text-align: center;
}